doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title HappyDev Lite
    link(rel="shortcut icon", href="images/favicon.png")
    link(rel="stylesheet", href="styles/main.css")
  body
    .container-fluid
      .background.js-background
        .carousel.carousel-1.js-carousel
        .carousel.carousel-2.js-carousel
        .carousel.carousel-3.js-carousel
        .carousel.carousel-4.js-carousel.active
        .carousel.carousel-5.js-carousel
        .carousel.carousel-6.js-carousel
        .carousel.carousel-7.js-carousel
      .page-content.container-fluid
        .overlay
          .container
            .row
              include ../blocks/header.jade
          .container-fluid
            .row
              include ../blocks/social.jade
              include ../blocks/email.jade
        .white-back
          .container
            .row
              include ../blocks/talks.jade
              include ../blocks/footer.jade
              script(src='scripts/all.js')
    .js-loader.overlay-loader
      .js-loader-background.loader-background.color-flip
      img.js-loader-icon.loader-icon.spinning-cog(src="cogs/cog01.svg" data-cog="cog01")