.container.email-container
  .email.text-center
    p Узнай о регистрации первым!
    .email-form.col-xs-10.col-sm-8.col-centred
      form.js-form-to-submit
        .js-email-group.input-group
          input.js-email.form-control(type='text', name='email', value='', placeholder='Оставь свой e-mail')
          span.input-group-btn
            input.js-submit.btn.btn-primary(type='button', name='submit', value='Отправить')
        span.js-validation-result.validation-result.col-xs-12
  //
    <a class="arrow-wrap" href="#content">
    <span class="arrow"></span>
    </a>