.footer.col-xs-12
  p.text-center Организатор
  .col-xs-12
    a.col-xs-12(href='http://7bits.ru/ru', target='_blank')
      img.center-block.img-responsive(src='images/7bits.png', alt='')
  .col-xs-12.text-center.contacts
    p.text-center Звоните, пишите!
    .col-xs-12.col-sm-6
      p.text-center.col-xs-12 +7 (909) 535 00 73
      span Анна Тарасенко
    .col-xs-12.col-sm-6
      a(href='mailto:org@happydev.ru')
        p.text-center.col-xs-12.mail org@happydev.ru
      span.center-block
        | Мы готовы ответить
        | на любые вопросы.
  .col-xs-12.text-center.sponsors
    a.col-xs-12(href='files/Спонсорское предложение Happydev-lite.pdf', target='_blank')
      p.text-center Спонсорское предложение
  .col-xs-12.text-center.copyright
    a.col-xs-12(href='http://7bits.ru/ru', target='_blank')
      | &copy 7bits, 2014