.social-container.center-block
  .js-left-arr.left-arr.pull-left
    img(src='images/left-arr.png', alt='')
  .social-row.center-block
    .social.center-block
      a(href='http://vk.com/happydevlite', target='_blank')
        img(src='images/social-vk.png', alt='')
      a(href='http://twitter.com/_happydev', target='_blank')
        img(src='images/social-tw.png', alt='')
      a(href='http://timeline.happydev.ru/', target='_blank')
        img(src='images/social-th.png', width='27px', alt='')
    .date.text-center
      p
        | 13-14 Сентября 2014, О
        span м
        | ГУ
  .js-right-arr.right-arr.pull-right
    img(src='images/right-arr.png', alt='')