.talks.col-xs-12
  #content.headline.col-centred
    p.text-center Говорят
  .talks-block.col-xs-12.container
    .opinion.media.js-opinion.hide
      img.photo.media-object(src='images/opinions/sumarokov.jpg', alt='')
      p.name Павел Сумароков
      p.position
        a.thum-href(href='http://aldigit.com/', target='_blank') Al Digit
        | , Директор, Омск
      .content.media-body
        article
          | Разработчики ПО решают важные задачи из различных сфер деятельности человека таких, как финансы, медицина, промышленность, коммуникации. Конференция рекомендуется тем, кто хочет больше узнать про нашу профессию. В современном мире быть программистом интересно, престижно и выгодно. Однако, доверие пользователей должно быть оправдано высокой ответственностью, тяжёлым трудом и постоянным самосовершенствованием.
    .opinion.media.js-opinion.hide
      img.photo.media-object(src='images/opinions/tarasenko.jpg', alt='')
      p.name Анна Тарасенко
      p.position
        a.thum-href(href='http://7bits.ru/', target='_blank') 7bits
        | , Директор, Омск
      .content.media-body
        article
          | Мы находимся в уникальном месте и в уникальное время. Я мало знаю мест в России, где есть такие возможности для студентов как можно раньше узнать все об индустрии разработки ПО. Огромное количество бесплатных мероприятий, на которых можно познакомиться с компаниями, научиться писать игры и приложения, набраться опыта у высококлассных специалистов. Погрузитесь в ИТ мирового уровня на 2 дня!
    .opinion.media.js-opinion.hide
      img.photo.media-object(src='images/opinions/kuznecov.jpg', alt='')
      p.name Александр Кузнецов
      p.position
        a.thum-href(href='http://www.adcisolutions.com/', target='_blank') ADCI solutions
        | , Руководитель, Омск
      .content.media-body
        article
          | Настоящая, насыщенная, увлеченная жизнь в профессии. Интересные проекты и много новых знаний. Хочешь держать мозг в тонусе и узнать, каково это? Развивайся, будь программистом. IT-мир для тебя, рекомендую!
    .opinion.media.js-opinion.hide
      img.photo.media-object(src='images/opinions/pashkevich.jpg', height='145', width='145', alt='')
      p.name Дмитрий Пашкевич
      p.position
        a.thum-href(href='http://thumbtack.ru/', target='_blank') Тамтэк
        | , Директор, Омск
      .content.media-body
        article
          | Уважаемые студенты и старшеклассники, интересующиеся программированием и компьютерными технологиями. Я начал программировать в школе, в ВУЗе мое увлечение компьютерами и всем, что с ними связано, только окрепло. В то время, на заре Интернета, было сложно находить ответы на многие вопросы, поэтому хорошая книга и опытный наставник ценились на вес золота. Теперь у нас есть Интернет! Но как узнать, какой из ответов - правильный? Как отделить действительно ценный совет от форумного флуда? Цените возможность вживую пообщаться с ведущими специалистами лучших ИТ-компаний города. Время опытных наставников по-прежнему на вес золота :-)
    .opinion.media.js-opinion.hide
      img.photo.media-object(src='images/opinions/gordeev.jpg', width='145', alt='', height='145')
      p.name Вячеслав Гордеев
      p.position
        a.thum-href(href='http://www.a2design.ru/', target='_blank') А2 Дизайн
        | , Руководитель, Омск
      #wrap.content.media-body
        article.js-content
          | Вокруг айти-сферы крутится всё, программист — это одна, если не самая-самая перспективная профессия, и это отнюдь не преувеличение.
          | Так что успейте прыгнуть на этот поезд, который, при большом количестве работы, мотивации и желания, доставит вас туда, куда вы пожелаете. А пока, необходимо вливаться в технологии, узнавать новое с каждым днём. И данная конференция — отличное место для этого.
    .opinion.media.js-opinion.hide
      img.photo.media-object(src='images/opinions/rodionov.jpg', alt='', height='145')
      p.name Игорь Родионов
      p.position
        a.thum-href(href='http://sciencescape.org/', target='_blank') ScienceScape inc.
        | , Разработчик, Омск
      #wrap.content.media-body
        article.js-content
          | Готовитесь ли вы к поступлению или уже учитесь в ВУЗе - вы начали свою карьеру. Возможно вы не согласны, но это так. Задайте себе вопросы:
          br
          | "Насколько я вырос в профессиональном плане за прошлый год?"
          br
          | "Достаточный ли это темп для успешной работы после окончания ВУЗа?"
          br
          | "Могу ли я развиваться быстрее? Если да, то какие для этого есть возможности?"
          br
          | "Кем и где я смогу работать?"
          br
          | "Каково состояние и перспективы ИТ отрасли в мире, России и Омске?"
          br
          | "Действительно, ли это то, чем я хочу заниматься?"
          br
          | Если хоть один из этих вопросов вас волнует - посетите мероприятие.
          br
          | Эта конференция - день открытых дверей в ИТ-индустрию - возможность подняться над суетой и увидеть перспективу - подарок от нынешних профессионалов будущим. Потому, что именно с вами мы будем работать через несколько лет.
          br
          | Приходите познакомиться.
  .headline.center-block.more-info.col-xs-12
    a.center-block.text-center(href='http://timeline.happydev.ru/', target='_blank')
      p Подробнее в блоге